<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>whatsapp</title>
  <link rel="stylesheet" href="style.css">
  

</head>
<body>
  <h3>all chats</h3>
  <form method="get" action="/chats/new">
    <button>create</button>
  </form>
  <% for(let chat of chats) { %>
    <div class="chats">
          <p>from :<i><%= chat.from %></i></p>
          <div class="msg">
            <p> <%= chat.msg %> </p>
            <form method="get" action="/chats/<%= chat.id %>/edit">
              <button>edit</button>
            </form>
            <br />
            <form method="post" action="/chats/<%= chat.id %>?_method=DELETE">
              <button>delete</button>
            </form>
          </div>
            <p>by :<i><%= chat.to %></i> </p>
            <p> <%= chat.create_at.toString(" ").split(" ")[4] %> </p>
            <p> <%= chat.create_at.toString(" ").split(" ").splice(0,4).join(" ") %> </p><br />
            <hr />
    </div>
    <br><br>
   <% } %> 
  
</body>
</html>